@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(136, 134, 134, 0.7), 0 0 0 0 rgba(70, 70, 70, 0.7);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 0 rgba(151, 151, 151, 0.7);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  50% {
    opacity: 0.5;
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
