* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.section__title {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}

.section__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.btn-primary {
  display: flex;
  margin: auto;
  background-color: $color-primary;
  border: 0px;
  padding: 15px 30px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 1px 2px 30px rgba(87, 86, 86, 0.9);
    transform: translateY(-10%);
    transition: all 0.3s;
  }
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: end;
}

.img-bordered {
  display: flex;
  margin: auto;
  border: 5px solid $color-grey;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
}
