* {
  margin: 0;
  padding: 0; }

header {
  background-image: url("../../Asset/bg.png");
  background-size: cover; }

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px; }
  nav ul {
    display: flex;
    list-style-type: none; }
    nav ul li {
      padding: 15px; }
      nav ul li a {
        text-decoration: none;
        color: whitesmoke;
        text-transform: uppercase; }
