* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

.section__title {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase; }

.section__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: lighter; }

.btn-primary {
  display: flex;
  margin: auto;
  background-color: #f1c40f;
  border: 0px;
  padding: 15px 30px;
  transition: all 0.3s; }
  .btn-primary:hover {
    box-shadow: 1px 2px 30px rgba(87, 86, 86, 0.9);
    transform: translateY(-10%);
    transition: all 0.3s; }

.d-flex {
  display: flex !important; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.justify-content-end {
  justify-content: end; }

.img-bordered {
  display: flex;
  margin: auto;
  border: 5px solid #d5dde2;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(136, 134, 134, 0.7), 0 0 0 0 rgba(70, 70, 70, 0.7); }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(151, 151, 151, 0.7); }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(0); }
  50% {
    opacity: 0.5;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(0); }
  50% {
    opacity: 0.5;
    transform: translateX(5px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 60px; }
  @media (max-width: 37.5em) {
    .row {
      width: 100%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        float: none; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 80px; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 80px) / 2); }
    @media (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc(((100% - 80px * 2) / 3)); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 80px * 2) / 3) + 80px); }
  .row .col-1-of-4 {
    width: calc(((100% - 80px * 3) / 4)); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 80px * 3) / 4) + 80px); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 80px * 3) / 4) + 2 * 80px); }

header {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(27, 27, 27, 0.9)), url("../../Asset/bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh; }
  header .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header .header h2 {
      color: whitesmoke;
      text-transform: capitalize;
      text-align: center;
      font-size: 35px;
      margin-bottom: 10px;
      animation: slideDown 1s linear; }
      @media (max-width: 37.5em) {
        header .header h2 {
          font-size: 32px; } }
    header .header h1 {
      color: whitesmoke;
      text-transform: capitalize;
      font-size: 60px;
      margin-bottom: 10px;
      text-align: center;
      animation: fadeIn 3s linear; }
      @media (max-width: 37.5em) {
        header .header h1 {
          font-size: 18px; } }
    header .header button {
      animation: slideIn 0.5s linear; }
      @media (max-width: 37.5em) {
        header .header button {
          margin: 25px auto; } }

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 15px; }
  nav ul {
    display: flex;
    list-style-type: none; }
    nav ul li {
      padding: 15px; }
      nav ul li a {
        text-decoration: none;
        color: whitesmoke;
        text-transform: uppercase; }

.service {
  margin: 50px auto;
  padding: 0 100px; }
  @media (max-width: 37.5em) {
    .service {
      padding: 0 50px; } }
  .service__services {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 56.25em) {
      .service__services {
        flex-direction: column; } }
    .service__services--item {
      padding: 50px; }
      @media (max-width: 37.5em) {
        .service__services--item {
          padding: 25px 0px; } }
      .service__services--item img {
        display: flex;
        margin: auto;
        border: 5px solid #f1c40f;
        border-radius: 50%;
        padding: 7px; }
      .service__services--item h5 {
        text-align: center;
        margin: 15px auto;
        font-size: 18px; }
      .service__services--item p {
        color: goldenrod;
        margin: auto;
        text-align: center; }

.portfolio {
  background-color: #d5dde2;
  padding: 50px 100px; }
  @media (max-width: 37.5em) {
    .portfolio {
      padding: 50px; } }
  .portfolio__projects {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 0 100px; }
    .portfolio__projects:last-child {
      padding-bottom: 100px;
      padding-top: 0px; }
    @media (max-width: 37.5em) {
      .portfolio__projects {
        flex-direction: column;
        padding: 0;
        margin-top: 50px; } }
    .portfolio__projects--project {
      margin: 10px;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.7);
      transition: all 0.5s;
      animation: slideIn 1s linear; }
      .portfolio__projects--project:hover {
        background-color: #f1c40f;
        transition: all 0.5s; }
      .portfolio__projects--project img {
        width: 407px;
        height: 304px;
        margin-bottom: 0;
        transition: all 0.5s; }
        @media (max-width: 37.5em) {
          .portfolio__projects--project img {
            width: 100%;
            height: 200px; } }
        .portfolio__projects--project img:hover {
          transform: scaleY(1.05);
          transition: all 0.5s; }
      .portfolio__projects--project figcaption {
        position: relative;
        top: -5px;
        background-color: whitesmoke;
        padding: 25px; }
        .portfolio__projects--project figcaption span {
          display: block;
          text-align: center; }
          .portfolio__projects--project figcaption span.title {
            font-weight: bold; }
          .portfolio__projects--project figcaption span.subtitle {
            font-weight: lighter;
            font-style: italic;
            color: goldenrod;
            margin-top: 5px; }

.team {
  background-color: #d5dde2;
  margin: 50px auto;
  padding: 0 100px;
  padding-top: 50px;
  margin-bottom: 0px;
  position: relative;
  z-index: 10; }
  @media (max-width: 56.25em) {
    .team {
      padding: 50px 50px 0 50px; } }
  .team__post-script {
    color: #6b8899;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 100px;
    line-height: 1.5rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .team__post-script {
        padding: 50px 0 100px 0; } }
  .team__people {
    padding: 75px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 56.25em) {
      .team__people {
        flex-direction: column;
        padding: 0;
        margin-top: 50px; } }
    @media (max-width: 56.25em) {
      .team__people--person {
        margin-bottom: 50px; } }
    .team__people--person img.person {
      display: flex;
      margin: auto;
      border: 5px solid #d5dde2;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2); }
      .team__people--person img.person:hover {
        animation: pulse 3s infinite; }
    .team__people--person figcaption span {
      display: block;
      text-align: center; }
      .team__people--person figcaption span.name {
        margin: 10px 0;
        font-weight: bolder; }
      .team__people--person figcaption span.post {
        color: #6b8899;
        margin-bottom: 10px; }
    .team__people--person__social {
      display: flex;
      justify-content: center; }
      .team__people--person__social img {
        width: 25px;
        margin: 5px 10px; }

.market {
  padding: 25px 100px; }
  @media (max-width: 1100px) {
    .market {
      padding: 25px 50px; } }
  .market__row {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media (max-width: 56.25em) {
      .market__row {
        flex-direction: column; } }
    @media (max-width: 1100px) {
      .market__row {
        justify-content: space-between; } }
    .market__row--org img {
      width: 150px !important;
      filter: grayscale(1); }
      @media (max-width: 56.25em) {
        .market__row--org img {
          margin: 30px; } }

.contact {
  background-image: linear-gradient(to right, rgba(10, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../../Asset/globe.jpg");
  background-size: contain;
  background-position: center;
  color: whitesmoke;
  padding: 100px;
  padding-top: 50px; }
  @media (max-width: 37.5em) {
    .contact {
      background-size: cover;
      padding: 0; } }
  .contact form {
    margin-top: 50px; }
    .contact form input,
    .contact form textarea {
      padding: 15px;
      margin: 15px;
      border-radius: 2px;
      border: 0;
      width: 100%; }
  .contact__button {
    display: flex;
    justify-content: center; }

.aboutus {
  padding-top: 50px; }
  .aboutus__stories {
    margin-top: 100px; }
  .aboutus__throughline {
    height: 1380px;
    width: 15px;
    position: absolute;
    left: 50%;
    border-left: 2px solid #d5dde2;
    z-index: 0; }
    @media (max-width: 56.25em) {
      .aboutus__throughline {
        height: 4000px; } }
  .aboutus__story--description {
    width: 35%;
    padding: 50px;
    padding-top: 15px;
    position: relative;
    top: -5px;
    text-align: center; }
    @media (max-width: 56.25em) {
      .aboutus__story--description {
        padding-top: 50px;
        width: 100%;
        background-color: #f44336;
        margin-top: 200px;
        margin-bottom: 200px; } }
    .aboutus__story--description h5 {
      font-weight: bold;
      font-size: 22px; }
    .aboutus__story--description p {
      padding-top: 15px;
      color: goldenrod; }
      @media (max-width: 56.25em) {
        .aboutus__story--description p {
          color: whitesmoke; } }
    .aboutus__story--description__empty {
      height: 185px; }
      .aboutus__story--description__empty figure {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
        .aboutus__story--description__empty figure p {
          flex-direction: column;
          background-color: #f1c40f;
          align-items: center;
          justify-content: center;
          color: whitesmoke;
          animation: pulse 3s linear infinite; }
          .aboutus__story--description__empty figure p span {
            display: inline-block;
            text-align: center;
            font-size: 20px; }
  .aboutus img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
