header {
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(27, 27, 27, 0.9)
    ),
    url("../../Asset/bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;

  .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      color: $color-white;
      text-transform: capitalize;
      text-align: center;
      font-size: 35px;
      margin-bottom: 10px;
      animation: slideDown 0.5s linear;
    }

    h1 {
      color: $color-white;
      text-transform: capitalize;
      font-size: 60px;
      margin-bottom: 10px;
      animation: fadeIn 1s linear;
    }

    button {
      animation: slideIn 0.3s linear;
    }
  }
}
