.market {
  //   background-color: red;
  padding: 25px 100px;
  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include respond(phone) {
      flex-direction: column;
    }
    &--org {
      & img {
        width: 150px !important;
        filter: grayscale(1);
        @include respond(phone) {
          margin: 30px;
        }
      }
    }
  }
}
