.portfolio {
  background-color: $color-grey;
  padding: 50px 0;
  &__projects {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 0 100px;
    &:last-child {
      padding-bottom: 100px;
      padding-top: 0px;
    }

    &--project {
      //   border: 1px solid red;
      margin: 10px;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.7);
      transition: all 0.5s;
      animation: slideIn 1s linear;

      &:hover {
        background-color: $color-primary;
        transition: all 0.5s;
      }

      img {
        width: 407px;
        height: 304px;
        margin-bottom: 0;
        transition: all 0.5s;
        &:hover {
          transform: scaleY(1.05);
          transition: all 0.5s;
        }
      }
      figcaption {
        position: relative;
        top: -5px;
        background-color: $color-white;
        padding: 25px;
        span {
          display: block;
          text-align: center;
          &.title {
            font-weight: bold;
          }
          &.subtitle {
            font-weight: lighter;
            font-style: italic;
            color: $color-primary-dark;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
